@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  margin: 0 auto;
  gap: 100px;
  max-width: 1400px;
  z-index: 1;
  overflow: hidden;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 100vh; /* ✅ This fills full screen */
  background-color: #000000;
  
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  align-items: flex-start;
  color: var(--color-text);
  margin-top: 0; /* ✅ Remove fixed spacing */
  z-index: 1;
}

.title{
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 30px;
    font-family: var(--font-roboto);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 120%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.description{
    font-size: 30px;
    font-family: var(--font-roboto);
    margin-bottom: 30px;
}

.buttonGroup {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.cvBtn {
  text-decoration: none;
  background-color: transparent;
  color: var(--color-text);
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  font-size: 30px;
  font-weight: 600;
  padding: 17px 26px;
  transition: all 0.3s ease;
}

.cvBtn:hover {
  background-color: var(--color-primary);
  color: #fff;
}


.contactBtn{
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600;
    padding: 17px 26px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.heroImg {
  width: 70%;
  max-width: 400px;
  height: auto;
  border-radius: 50%; /* round style */
  object-fit: cover;
  z-index: 5;
  flex-shrink: 0;
  

  

  /* Floating animation */
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

@keyframes floating{
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, -0px);
    }
}




@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
    
    width: 100%;
    padding: 30px 5%;
    transform: translateY(-80px); /* less translate on mobile */
    gap: 30px;
  }

  .content {
    align-items: center;
    text-align: center;
  }

  .title {
    font-size: 36px;
    margin-bottom: 15px;
  }

  .description {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .buttonGroup {
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
  }

  .contactBtn,
  .cvBtn {
    font-size: 18px;
    padding: 12px 22px;
    width: fit-content;
  }

  .heroImg {
    max-width: 80%;
    margin-bottom: 20px;
  }
}
