@import "../../vars.css";

.container{
    position: relative;
    background-color: rgba(12, 12, 12, 0.6);
  border-radius: 15px;
  padding: 63px;
  max-width: 70%;
  margin-top: 100px; 
  margin-bottom: 70px;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}
    



.title{
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 50px;
}

.aboutImg{
    width: 25%;
    border-radius: 30px;
    transition: all 0.4s ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  
}

.aboutImg:hover {
  transform: scale(1.05) translateY(-8px);
  filter: brightness(1.1);
  box-shadow: 0 0 15px rgba(87, 108, 188, 0.6),
              0 0 30px rgba(87, 108, 188, 0.4);
}

.aboutItems{
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 50px;
    row-gap: 10px;
}

.aboutItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 25px;
    background-image: linear-gradient(90deg, rgba(165, 215, 232, 0.42) 0%, rgba(255, 255, 255, 0) 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
    column-gap: 40px;


}

.aboutItem:hover{
    background-size: 100% 100%;
}

.aboutItem h3{
    font-size: 20px;
    font-weight: 600;
}

.aboutItem p{
    font-size: 20px;
    
}

@media screen and (max-width: 830px){
    .container{
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;

    }

    .content{
        flex-direction: column;
    }
    .aboutImg{
        display: none;
    }
    .aboutItems{
        margin-top: 29px;
    }
    .aboutItem{
        padding-left: 0;
        padding-right: 0;
    }


}


